<h1 mat-dialog-title>Обновление пользователя</h1>
<form [formGroup]="userUpdateForm" (ngSubmit)="update()">
  <div mat-dialog-content>
    <div class="entity-form-modal">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input
          matInput
          type="number"
          name="id"
          formControlName="id"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input
          matInput
          type="text"
          name="firstName"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input
          matInput
          type="text"
          name="lastName"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input matInput type="tel" name="phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input
          matInput
          [matDatepicker]="birthday"
          formControlName="birthDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthday"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата начала работы</mat-label>
        <input
          matInput
          [matDatepicker]="startWorkDate"
          formControlName="startWorkDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startWorkDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startWorkDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="modalClose()">
      Отмена
    </button>
    <button
      mat-button
      type="submit"
      cdkFocusInitial
      [disabled]="userUpdateForm.invalid"
      cdkFocusInitial
    >
      Создать
    </button>
  </div>
</form>
