<h1 mat-dialog-title>Смена статуса доставки</h1>
<form [formGroup]="deliveryStatusForm" (ngSubmit)="update()">
  <div mat-dialog-content>
    <div class="entity-form-modal">
      <ng-select
        formControlName="status"
        [items]="statuses | keyvalue"
        [multiple]="false"
        bindValue="key"
        bindLabel="value"
        placeholder="Статус"
        appendTo="body"
      >
      </ng-select>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" cdkFocusInitial (click)="modalClose()">
      Отмена
    </button>
    <button mat-button type="submit" [disabled]="deliveryStatusForm.invalid">
      Обновить
    </button>
  </div>
</form>
