<div *ngIf="loading" class="loading-shade">
  <mat-spinner></mat-spinner>
</div>

<div>
  <div class="margin-5px-line">
    <label class="mat-headline">Модели грузовых автомобилей</label>
    <div class="grid-list">
      <button mat-flat-button color="primary" (click)="create()">
        Создать
      </button>
    </div>
  </div>

  <mat-table #table [dataSource]="data">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Производитель </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.brand }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Модель </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.model }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buildYear">
      <mat-header-cell *matHeaderCellDef> Год сборки </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.buildYear }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <mat-header-cell *matHeaderCellDef> Вместимость </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.capacity }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button (click)="delete(row.id)" mat-icon-button aria-label="Remove">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button (click)="update(row)" mat-icon-button aria-label="Update">
          <mat-icon>update</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnList"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="pageInfo.total"
    [pageSize]="currentLimit"
    [pageIndex]="pageInfo.page"
    [pageSizeOptions]="pageLimits"
  >
  </mat-paginator>
</div>
