<div *ngIf="loading" class="loading-shade">
  <mat-spinner></mat-spinner>
</div>

<div>
  <div class="margin-5px-line">
    <label class="mat-headline">Пользователи</label>
    <div class="grid-list">
      <button mat-flat-button color="primary" (click)="create()">
        Создать пользователя
      </button>
    </div>
  </div>

  <div style="overflow: auto; width:auto">
    <mat-table #table [dataSource]="data">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.firstName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.lastName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Телефон </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.phone }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Роль </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ roleList.get(row.role) }} </mat-cell>
      </ng-container>


      <!--
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Фамилия </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.lastName }} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button (click)="delete(row.id)" mat-icon-button aria-label="Remove">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button (click)="update(row)" mat-icon-button aria-label="Update">
            <mat-icon>update</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    [length]="pageInfo.total"
    [pageSize]="currentLimit"
    [pageIndex]="pageInfo.page"
    [pageSizeOptions]="pageLimits"
  >
  </mat-paginator>
</div>
